/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.initText {
	-fx-font-size: 25;
	-fx-text-fill:  #004A41;
}

.logo {
	-fx-background-color: blueviolet;
	-fx-text-fill: white;
	-fx-background-radius: 50;
	-fx-font-size: 50.0;
}

.fondo_carga{
	-fx-background-color: black;
}